.about {
  height: 400px;
  color: whitesmoke;
  background-color: rgb(42, 64, 117);
  width: 100%;
  margin-top: -22px;
}

.about_cont {
  position: relative;
  top: 80px;
  margin-left: 5%;
  margin-right: 5%;
}

.about_par {
  position: relative;
  left: 10%;
  width: 40%;
}

@media screen and (max-width: 800px) {
  .about {
    height: 500px;
  }

  .about_cont {
    top: 80px;
  }
  .about_par {
    width: 70%;
    height: 30%;
    /* bottom: 20px; */
    left: 0;
  }
}
