.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.menu_link {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  /* top: 40px; */
}

.icon {
  /* margin-left: 10px; */
  align-self: center;
  /* size: 100x; */
}
