.home {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  width: 100%;
  background-color: rgb(48, 56, 75);
  position: relative;
}

.pic {
  height: 250px;
  width: 250px;
  border-radius: 500px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 3px;
  margin-bottom: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: center;
  margin-top: 20px;
  padding: 0 20px;
}

.about p {
  margin: 8px 0;
  line-height: 1.5;
}
