.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 70px;
  height: calc(100% - 70px);
  width: 100%;
  z-index: 1;
}

.menu_link {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

.icon {
  align-self: center;
}
