.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.menu_link {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  /* top: 40px; */
}

.icon {
  align-self: center;
}

.booking_link {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  text-decoration: none;
  background-color: whitesmoke;
  color: rgb(53, 53, 53);
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}
