.main_nav {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgb(53, 53, 53);
  color: whitesmoke;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.left_section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
}

.nav_name {
}

.links {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  margin-right: 10px;
  height: 100%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: rgb(85, 85, 85);
}

.booking_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: whitesmoke;
  color: rgb(53, 53, 53);
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.booking_link:hover {
  background-color: white;
  transform: scale(1.05);
}

.menu {
  display: none;
  margin-right: 40px;
}

@media screen and (max-width: 800px) {
  .menu {
    display: flex;
    width: 5%;
  }

  .link {
    display: none;
  }

  .booking_link {
    display: none;
  }
}
