.proj {
  height: 500px;
  color: whitesmoke;
  /* background-color: rgb(62, 94, 170); */
  background-color: rgb(46, 76, 148);
  width: 100%;
  margin-top: -22px;
}

.proj_cont {
  position: relative;
  top: 80px;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
}

.proj_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 20px;
  /* border-style: solid;
  border-width: 2px;
  border-color: whitesmoke; */
  width: 80%;
  height: 55%;
  margin-left: 13%;
}

.proj_box1,
.proj_box2,
.proj_box3 {
  display: flex;
  justify-content: center;
  background-color: rgba(71, 172, 255, 0.3);
  border-radius: 12px;
  height: 100%;
  width: 30%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.proj_box1 {
  background-image: url(/images/weather_app.png);
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}

.proj_box2 {
  background-image: url(/images/Videogames_disp.png);
  background-position: center;
  background-size: cover;
}

.proj_box3 {
  background-image: url(/images/discogs-wantlist-finder.png);
  background-position: center;
  background-size: cover;
}

.proj_box:hover {
  transform: scale(1.06);
}

.link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: whitesmoke;
}

.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.par {
  text-align: center;
  width: 65%;
  height: 80%;
  position: relative;
  bottom: 3%;
}

.title {
  position: relative;
  top: 10%;
  font-weight: bold;
}

.proj_label {
  display: flex;
  visibility: visible;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  top: 50%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 50%;
  width: 100%;
  /* z-index: 1; */
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgba(39, 38, 38, 0.95);
  transition: height 0.3s ease-in-out;
}

.symbols {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 10%;
  /* margin-left: 35%; */
  width: 20%;
  justify-content: space-between;
}

.symbols2 {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 10%;
  /* margin-top: 10px; */
  width: 50%;
  justify-content: space-between;
}

/* .proj_box:hover .proj_label {
  height: 100%;
  width: 100%;
  visibility: visible;
} */

@media screen and (max-width: 800px) {
  .proj {
    height: 1000px;
  }

  .proj_sec {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    height: 80%;
    width: 100%;
  }

  .proj_box1,
  .proj_box2,
  .proj_box3 {
    width: 100%;
    height: 30%;
  }

  .par {
    width: 70%;
  }

  .symbols {
    width: 15%;
  }
}

@media screen and (hover: hover) and (pointer: fine) {
  .proj_label {
    visibility: collapse;
    height: 0%;
    width: 0%;
  }
  .proj_box1:hover .proj_label {
    height: 50%;
    width: 100%;
    visibility: visible;
  }
  .proj_box2:hover .proj_label {
    height: 50%;
    width: 100%;
    visibility: visible;
  }
  .proj_box3:hover .proj_label {
    height: 50%;
    width: 100%;
    visibility: visible;
  }

  .proj_box1:hover {
    transform: scale(1.06);
  }

  .proj_box2:hover {
    transform: scale(1.06);
  }

  .proj_box3:hover {
    transform: scale(1.06);
  }
}
